# Let's mention about good old Pandas (v1)

In [2]:
import pandas as pd
pd.read_csv("Affairs.csv")

,Unnamed: 0,affairs,gender,age,yearsmarried,children,religiousness,education,occupation,rating
0,4,0,male,37.0,10.00,no,3,18,7,4
1,5,0,female,27.0,4.00,no,4,14,6,4
2,11,0,female,32.0,15.00,yes,1,12,1,4
3,16,0,male,57.0,15.00,yes,5,18,6,5
4,23,0,male,22.0,0.75,no,2,17,6,3
...,...,...,...,...,...,...,...,...,...,...
596,1938,1,male,22.0,1.50,yes,1,12,2,5
597,1941,7,female,32.0,10.00,yes,2,18,5,4
598,1954,2,male,32.0,10.00,yes,2,17,6,5
599,1959,2,male,22.0,7.00,yes,3,18,6,2
600,9010,1,female,32.0,15.00,yes,3,14,1,5

In [12]:
type(pd.read_csv("Affairs.csv"))

pandas.core.frame.DataFrame

# Let's dive into PySpark!

In [3]:
from pyspark.sql import SparkSession

In [27]:
spark = SparkSession.builder.appName("Practise").getOrCreate()

In [5]:
spark

In [6]:
df_pyspark = spark.read.csv("Affairs.csv")

In [7]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string]

In [9]:
df_pyspark.show(3)

+----+-------+------+---+------------+--------+-------------+---------+----------+------+
| _c0|    _c1|   _c2|_c3|         _c4|     _c5|          _c6|      _c7|       _c8|   _c9|
+----+-------+------+---+------------+--------+-------------+---------+----------+------+
|null|affairs|gender|age|yearsmarried|children|religiousness|education|occupation|rating|
|   4|      0|  male| 37|          10|      no|            3|       18|         7|     4|
|   5|      0|female| 27|           4|      no|            4|       14|         6|     4|
+----+-------+------+---+------------+--------+-------------+---------+----------+------+
only showing top 3 rows

In [10]:
df_pyspark = spark.read.option("header", "true").csv("Affairs.csv")

In [11]:
df_pyspark.show(3)

+---+-------+------+---+------------+--------+-------------+---------+----------+------+
|_c0|affairs|gender|age|yearsmarried|children|religiousness|education|occupation|rating|
+---+-------+------+---+------------+--------+-------------+---------+----------+------+
|  4|      0|  male| 37|          10|      no|            3|       18|         7|     4|
|  5|      0|female| 27|           4|      no|            4|       14|         6|     4|
| 11|      0|female| 32|          15|     yes|            1|       12|         1|     4|
+---+-------+------+---+------------+--------+-------------+---------+----------+------+
only showing top 3 rows

23/04/16 13:37:25 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
 Schema: _c0, affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
Expected: _c0 but found:
CSV file: file:///home/burakk/eq_data/Affairs.csv

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

# See the DataFrame

In [14]:
df_pyspark.show(3)

+---+-------+------+---+------------+--------+-------------+---------+----------+------+
|_c0|affairs|gender|age|yearsmarried|children|religiousness|education|occupation|rating|
+---+-------+------+---+------------+--------+-------------+---------+----------+------+
|  4|      0|  male| 37|          10|      no|            3|       18|         7|     4|
|  5|      0|female| 27|           4|      no|            4|       14|         6|     4|
| 11|      0|female| 32|          15|     yes|            1|       12|         1|     4|
+---+-------+------+---+------------+--------+-------------+---------+----------+------+
only showing top 3 rows

23/04/16 13:40:39 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
 Schema: _c0, affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
Expected: _c0 but found:
CSV file: file:///home/burakk/eq_data/Affairs.csv

In [16]:
df_pyspark.head(3)

23/04/16 13:41:01 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
 Schema: _c0, affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
Expected: _c0 but found:
CSV file: file:///home/burakk/eq_data/Affairs.csv

[Row(_c0='4', affairs='0', gender='male', age='37', yearsmarried='10', children='no', religiousness='3', education='18', occupation='7', rating='4'),
 Row(_c0='5', affairs='0', gender='female', age='27', yearsmarried='4', children='no', religiousness='4', education='14', occupation='6', rating='4'),
 Row(_c0='11', affairs='0', gender='female', age='32', yearsmarried='15', children='yes', religiousness='1', education='12', occupation='1', rating='4')]

In [17]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- affairs: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: string (nullable = true)
 |-- yearsmarried: string (nullable = true)
 |-- children: string (nullable = true)
 |-- religiousness: string (nullable = true)
 |-- education: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- rating: string (nullable = true)

# DataFrames in detail

In [37]:
spark = SparkSession.builder.appName("Dataframe").getOrCreate()

In [71]:
df_pyspark = spark.read.option("header", "true").csv("Affairs.csv", inferSchema=True)

In [42]:
df_pyspark.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- affairs: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: double (nullable = true)
 |-- yearsmarried: double (nullable = true)
 |-- children: string (nullable = true)
 |-- religiousness: integer (nullable = true)
 |-- education: integer (nullable = true)
 |-- occupation: integer (nullable = true)
 |-- rating: integer (nullable = true)

In [43]:
df_pyspark = spark.read.csv("Affairs.csv", header=True, inferSchema=True)

In [45]:
df_pyspark.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- affairs: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: double (nullable = true)
 |-- yearsmarried: double (nullable = true)
 |-- children: string (nullable = true)
 |-- religiousness: integer (nullable = true)
 |-- education: integer (nullable = true)
 |-- occupation: integer (nullable = true)
 |-- rating: integer (nullable = true)

In [46]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [47]:
df_pyspark.columns

['_c0',
 'affairs',
 'gender',
 'age',
 'yearsmarried',
 'children',
 'religiousness',
 'education',
 'occupation',
 'rating']

In [48]:
df_pyspark.head(3)

23/04/16 14:30:40 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
 Schema: _c0, affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
Expected: _c0 but found:
CSV file: file:///home/burakk/eq_data/Affairs.csv

[Row(_c0=4, affairs=0, gender='male', age=37.0, yearsmarried=10.0, children='no', religiousness=3, education=18, occupation=7, rating=4),
 Row(_c0=5, affairs=0, gender='female', age=27.0, yearsmarried=4.0, children='no', religiousness=4, education=14, occupation=6, rating=4),
 Row(_c0=11, affairs=0, gender='female', age=32.0, yearsmarried=15.0, children='yes', religiousness=1, education=12, occupation=1, rating=4)]

In [49]:
df_pyspark.show(3)

+---+-------+------+----+------------+--------+-------------+---------+----------+------+
|_c0|affairs|gender| age|yearsmarried|children|religiousness|education|occupation|rating|
+---+-------+------+----+------------+--------+-------------+---------+----------+------+
|  4|      0|  male|37.0|        10.0|      no|            3|       18|         7|     4|
|  5|      0|female|27.0|         4.0|      no|            4|       14|         6|     4|
| 11|      0|female|32.0|        15.0|     yes|            1|       12|         1|     4|
+---+-------+------+----+------------+--------+-------------+---------+----------+------+
only showing top 3 rows

23/04/16 14:31:19 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
 Schema: _c0, affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
Expected: _c0 but found:
CSV file: file:///home/burakk/eq_data/Affairs.csv

In [54]:
df_pyspark.select("yearsmarried").show(3)

+------------+
|yearsmarried|
+------------+
|        10.0|
|         4.0|
|        15.0|
+------------+
only showing top 3 rows

In [55]:
df_pyspark.select("yearsmarried", "children").show(3)

+------------+--------+
|yearsmarried|children|
+------------+--------+
|        10.0|      no|
|         4.0|      no|
|        15.0|     yes|
+------------+--------+
only showing top 3 rows

In [56]:
df_pyspark.select(["yearsmarried", "children"]).show(3)

+------------+--------+
|yearsmarried|children|
+------------+--------+
|        10.0|      no|
|         4.0|      no|
|        15.0|     yes|
+------------+--------+
only showing top 3 rows

In [59]:
df_pyspark["yearsmarried"]

Column<'yearsmarried'>

In [60]:
df_pyspark.dtypes

[('_c0', 'int'),
 ('affairs', 'int'),
 ('gender', 'string'),
 ('age', 'double'),
 ('yearsmarried', 'double'),
 ('children', 'string'),
 ('religiousness', 'int'),
 ('education', 'int'),
 ('occupation', 'int'),
 ('rating', 'int')]

In [62]:
df_pyspark.describe().show()

23/04/16 14:37:22 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
 Schema: _c0, affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
Expected: _c0 but found:
CSV file: file:///home/burakk/eq_data/Affairs.csv

+-------+------------------+------------------+------+-----------------+-----------------+--------+------------------+------------------+-----------------+------------------+
|summary|               _c0|           affairs|gender|              age|     yearsmarried|children|     religiousness|         education|       occupation|            rating|
+-------+------------------+------------------+------+-----------------+-----------------+--------+------------------+------------------+-----------------+------------------+
|  count|               601|               601|   601|              601|              601|     601|               601|               601|              601|               601|
|   mean|1059.7221297836938|1.4559068219633944|  null|32.48752079866888| 8.17769550748752|    null|3.1164725457570714| 16.16638935108153|4.194675540765391|3.9317803660565724|
| stddev|  914.904611235213|3.2987577284946816|  null| 9.28876170487667|5.571303149963791|    null|1.1675094016730692|2.4025545657666982|1.819442662708579|1.1031794920503797|
|    min|                 4|                 0|female|             17.5|            0.125|      no|                 1|                 9|                1|                 1|
|    max|              9029|                12|  male|             57.0|             15.0|     yes|                 5|                20|                7|                 5|
+-------+------------------+------------------+------+-----------------+-----------------+--------+------------------+------------------+-----------------+------------------+

# Adding columns in a DataFrame

In [74]:
df_pyspark = df_pyspark.withColumn("afterayear", df_pyspark["yearsmarried"]+1)

In [75]:
df_pyspark.show(3)

+---+-------+------+----+------------+--------+-------------+---------+----------+------+----------+
|_c0|affairs|gender| age|yearsmarried|children|religiousness|education|occupation|rating|afterayear|
+---+-------+------+----+------------+--------+-------------+---------+----------+------+----------+
|  4|      0|  male|37.0|        10.0|      no|            3|       18|         7|     4|      11.0|
|  5|      0|female|27.0|         4.0|      no|            4|       14|         6|     4|       5.0|
| 11|      0|female|32.0|        15.0|     yes|            1|       12|         1|     4|      16.0|
+---+-------+------+----+------------+--------+-------------+---------+----------+------+----------+
only showing top 3 rows

23/04/16 14:45:34 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
 Schema: _c0, affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
Expected: _c0 but found:
CSV file: file:///home/burakk/eq_data/Affairs.csv

# Dropping columns in a DataFrame

In [76]:
df_pyspark = df_pyspark.drop("rating")

In [78]:
df_pyspark.show(3)

+---+-------+------+----+------------+--------+-------------+---------+----------+----------+
|_c0|affairs|gender| age|yearsmarried|children|religiousness|education|occupation|afterayear|
+---+-------+------+----+------------+--------+-------------+---------+----------+----------+
|  4|      0|  male|37.0|        10.0|      no|            3|       18|         7|      11.0|
|  5|      0|female|27.0|         4.0|      no|            4|       14|         6|       5.0|
| 11|      0|female|32.0|        15.0|     yes|            1|       12|         1|      16.0|
+---+-------+------+----+------------+--------+-------------+---------+----------+----------+
only showing top 3 rows

23/04/16 14:47:19 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , affairs, gender, age, yearsmarried, children, religiousness, education, occupation
 Schema: _c0, affairs, gender, age, yearsmarried, children, religiousness, education, occupation
Expected: _c0 but found:
CSV file: file:///home/burakk/eq_data/Affairs.csv

# Renaming columns in a DataFrame

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataFrame").getOrCreate()

23/04/16 21:42:00 WARN Utils: Your hostname, AYGIR resolves to a loopback address: 127.0.1.1; using 192.168.213.86 instead (on interface eth0)
23/04/16 21:42:00 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/04/16 21:42:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [57]:
df_pyspark = spark.read.csv("../Data/Affairs.csv", header=True, inferSchema=True)

In [58]:
df_pyspark = df_pyspark.withColumnRenamed("children", "child")

In [60]:
df_pyspark.head(3)

23/04/16 21:59:53 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
 Schema: _c0, affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
Expected: _c0 but found:
CSV file: file:///home/burakk/Data/Affairs.csv

[Row(_c0=4, affairs=0, gender='male', age=37.0, yearsmarried=10.0, child='no', religiousness=3, education=18, occupation=7, rating=4),
 Row(_c0=5, affairs=0, gender='female', age=27.0, yearsmarried=4.0, child='no', religiousness=4, education=14, occupation=6, rating=4),
 Row(_c0=11, affairs=0, gender='female', age=32.0, yearsmarried=15.0, child='yes', religiousness=1, education=12, occupation=1, rating=4)]

In [61]:
df_pyspark.show(3)

+---+-------+------+----+------------+-----+-------------+---------+----------+------+
|_c0|affairs|gender| age|yearsmarried|child|religiousness|education|occupation|rating|
+---+-------+------+----+------------+-----+-------------+---------+----------+------+
|  4|      0|  male|37.0|        10.0|   no|            3|       18|         7|     4|
|  5|      0|female|27.0|         4.0|   no|            4|       14|         6|     4|
| 11|      0|female|32.0|        15.0|  yes|            1|       12|         1|     4|
+---+-------+------+----+------------+-----+-------------+---------+----------+------+
only showing top 3 rows

23/04/16 21:59:54 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
 Schema: _c0, affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
Expected: _c0 but found:
CSV file: file:///home/burakk/Data/Affairs.csv

In [62]:
df_pyspark.na.drop().show()

+---+-------+------+----+------------+-----+-------------+---------+----------+------+
|_c0|affairs|gender| age|yearsmarried|child|religiousness|education|occupation|rating|
+---+-------+------+----+------------+-----+-------------+---------+----------+------+
|  4|      0|  male|37.0|        10.0|   no|            3|       18|         7|     4|
|  5|      0|female|27.0|         4.0|   no|            4|       14|         6|     4|
| 11|      0|female|32.0|        15.0|  yes|            1|       12|         1|     4|
| 29|      0|female|32.0|         1.5|   no|            2|       17|         5|     5|
| 44|      0|female|22.0|        0.75|   no|            2|       12|         1|     3|
| 45|      0|  male|57.0|        15.0|  yes|            2|       14|         4|     4|
| 49|      0|  male|22.0|         1.5|   no|            4|       14|         4|     5|
| 50|      0|  male|37.0|        15.0|  yes|            2|       20|         7|     2|
| 55|      0|  male|27.0|         4.0|  yes|            4|       18|         6|     4|
| 64|      0|  male|47.0|        15.0|  yes|            5|       17|         6|     4|
| 80|      0|female|22.0|         1.5|   no|            2|       17|         5|     4|
| 86|      0|female|27.0|         4.0|   no|            4|       14|         5|     4|
| 93|      0|female|37.0|        15.0|  yes|            1|       17|         5|     5|
|108|      0|female|37.0|        15.0|  yes|            2|       18|         4|     3|
|114|      0|female|22.0|        0.75|   no|            3|       16|         5|     4|
|115|      0|female|22.0|         1.5|   no|            2|       16|         5|     5|
|116|      0|female|27.0|        10.0|  yes|            2|       14|         1|     5|
|123|      0|female|22.0|         1.5|   no|            2|       16|         5|     5|
|127|      0|female|22.0|         1.5|   no|            2|       16|         5|     5|
|129|      0|female|27.0|        10.0|  yes|            4|       16|         5|     4|
+---+-------+------+----+------------+-----+-------------+---------+----------+------+
only showing top 20 rows

23/04/16 21:59:55 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
 Schema: _c0, affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
Expected: _c0 but found:
CSV file: file:///home/burakk/Data/Affairs.csv

In [63]:
df_pyspark.na.drop(how="all").show()

+---+-------+------+----+------------+-----+-------------+---------+----------+------+
|_c0|affairs|gender| age|yearsmarried|child|religiousness|education|occupation|rating|
+---+-------+------+----+------------+-----+-------------+---------+----------+------+
|  4|      0|  male|37.0|        10.0|   no|            3|       18|         7|     4|
|  5|      0|female|27.0|         4.0|   no|            4|       14|         6|     4|
| 11|      0|female|32.0|        15.0|  yes|            1|       12|         1|     4|
| 16|      0|  null|57.0|        15.0|  yes|            5|       18|         6|     5|
| 23|      0|  male|22.0|        null|   no|            2|       17|         6|     3|
| 29|      0|female|32.0|         1.5|   no|            2|       17|         5|     5|
| 44|      0|female|22.0|        0.75|   no|            2|       12|         1|     3|
| 45|      0|  male|57.0|        15.0|  yes|            2|       14|         4|     4|
| 49|      0|  male|22.0|         1.5|   no|            4|       14|         4|     5|
| 50|      0|  male|37.0|        15.0|  yes|            2|       20|         7|     2|
| 55|      0|  male|27.0|         4.0|  yes|            4|       18|         6|     4|
| 64|      0|  male|47.0|        15.0|  yes|            5|       17|         6|     4|
| 80|      0|female|22.0|         1.5|   no|            2|       17|         5|     4|
| 86|      0|female|27.0|         4.0|   no|            4|       14|         5|     4|
| 93|      0|female|37.0|        15.0|  yes|            1|       17|         5|     5|
|108|      0|female|37.0|        15.0|  yes|            2|       18|         4|     3|
|114|      0|female|22.0|        0.75|   no|            3|       16|         5|     4|
|115|      0|female|22.0|         1.5|   no|            2|       16|         5|     5|
|116|      0|female|27.0|        10.0|  yes|            2|       14|         1|     5|
|123|      0|female|22.0|         1.5|   no|            2|       16|         5|     5|
+---+-------+------+----+------------+-----+-------------+---------+----------+------+
only showing top 20 rows

23/04/16 21:59:55 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
 Schema: _c0, affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
Expected: _c0 but found:
CSV file: file:///home/burakk/Data/Affairs.csv

In [64]:
df_pyspark.na.drop(how="any").show()

+---+-------+------+----+------------+-----+-------------+---------+----------+------+
|_c0|affairs|gender| age|yearsmarried|child|religiousness|education|occupation|rating|
+---+-------+------+----+------------+-----+-------------+---------+----------+------+
|  4|      0|  male|37.0|        10.0|   no|            3|       18|         7|     4|
|  5|      0|female|27.0|         4.0|   no|            4|       14|         6|     4|
| 11|      0|female|32.0|        15.0|  yes|            1|       12|         1|     4|
| 29|      0|female|32.0|         1.5|   no|            2|       17|         5|     5|
| 44|      0|female|22.0|        0.75|   no|            2|       12|         1|     3|
| 45|      0|  male|57.0|        15.0|  yes|            2|       14|         4|     4|
| 49|      0|  male|22.0|         1.5|   no|            4|       14|         4|     5|
| 50|      0|  male|37.0|        15.0|  yes|            2|       20|         7|     2|
| 55|      0|  male|27.0|         4.0|  yes|            4|       18|         6|     4|
| 64|      0|  male|47.0|        15.0|  yes|            5|       17|         6|     4|
| 80|      0|female|22.0|         1.5|   no|            2|       17|         5|     4|
| 86|      0|female|27.0|         4.0|   no|            4|       14|         5|     4|
| 93|      0|female|37.0|        15.0|  yes|            1|       17|         5|     5|
|108|      0|female|37.0|        15.0|  yes|            2|       18|         4|     3|
|114|      0|female|22.0|        0.75|   no|            3|       16|         5|     4|
|115|      0|female|22.0|         1.5|   no|            2|       16|         5|     5|
|116|      0|female|27.0|        10.0|  yes|            2|       14|         1|     5|
|123|      0|female|22.0|         1.5|   no|            2|       16|         5|     5|
|127|      0|female|22.0|         1.5|   no|            2|       16|         5|     5|
|129|      0|female|27.0|        10.0|  yes|            4|       16|         5|     4|
+---+-------+------+----+------------+-----+-------------+---------+----------+------+
only showing top 20 rows

23/04/16 21:59:55 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
 Schema: _c0, affairs, gender, age, yearsmarried, children, religiousness, education, occupation, rating
Expected: _c0 but found:
CSV file: file:///home/burakk/Data/Affairs.csv

In [ ]:
df_pyspark.aggregate({"yearsmarried": "max"}).show()

# Filter Operations

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataFrame").getOrCreate()

23/04/22 22:46:35 WARN Utils: Your hostname, AYGIR resolves to a loopback address: 127.0.1.1; using 192.168.213.86 instead (on interface eth0)
23/04/22 22:46:35 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/04/22 22:46:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark

In [8]:
df_pyspark = spark.read.csv("../Data/Affairs.csv", header=True, inferSchema=True)
df_pyspark.show()

+----+-------+------+----+------------+--------+-------------+---------+----------+------+
|  id|affairs|gender| age|yearsmarried|children|religiousness|education|occupation|rating|
+----+-------+------+----+------------+--------+-------------+---------+----------+------+
|   4|      0|  male|37.0|        10.0|      no|            3|       18|         7|     4|
|null|   null|  null|null|        null|    null|         null|     null|      null|  null|
|  10|   null|  male|27.0|         4.0|      no|            4|       14|         6|     4|
|  11|      0|female|32.0|        15.0|     yes|            1|       12|         1|     4|
|  16|      0|  null|57.0|        15.0|     yes|            5|       18|         6|     5|
|  20|   null|  null|22.0|         1.0|      no|            2|       17|         6|     3|
|  30|   null|  null|null|         1.5|      no|            2|       17|         5|     5|
|  44|      0|female|22.0|        0.75|      no|            2|       12|         1|     3|
|  45|      0|  male|57.0|        15.0|     yes|            2|       14|         4|     4|
|null|   null|  null|null|        null|    null|         null|     null|      null|  null|
|  49|      0|  male|22.0|         1.5|      no|            4|       14|         4|     5|
|  50|      0|  male|37.0|        15.0|     yes|            2|       20|         7|     2|
|  55|      0|  male|27.0|         4.0|     yes|            4|       18|         6|     4|
|  64|      0|  male|47.0|        15.0|     yes|            5|       17|         6|     4|
|  80|      0|female|22.0|         1.5|      no|            2|       17|         5|     4|
|  86|      0|female|27.0|         4.0|      no|            4|       14|         5|     4|
|  93|      0|female|37.0|        15.0|     yes|            1|       17|         5|     5|
| 108|      0|female|37.0|        15.0|     yes|            2|       18|         4|     3|
| 114|      0|female|22.0|        0.75|      no|            3|       16|         5|     4|
| 115|      0|female|22.0|         1.5|      no|            2|       16|         5|     5|
+----+-------+------+----+------------+--------+-------------+---------+----------+------+
only showing top 20 rows

In [14]:
# PySpark code speaks for itself!
df_pyspark.filter("education >= 15").show()

+---+-------+------+----+------------+--------+-------------+---------+----------+------+
| id|affairs|gender| age|yearsmarried|children|religiousness|education|occupation|rating|
+---+-------+------+----+------------+--------+-------------+---------+----------+------+
|  4|      0|  male|37.0|        10.0|      no|            3|       18|         7|     4|
| 16|      0|  null|57.0|        15.0|     yes|            5|       18|         6|     5|
| 20|   null|  null|22.0|         1.0|      no|            2|       17|         6|     3|
| 30|   null|  null|null|         1.5|      no|            2|       17|         5|     5|
| 50|      0|  male|37.0|        15.0|     yes|            2|       20|         7|     2|
| 55|      0|  male|27.0|         4.0|     yes|            4|       18|         6|     4|
| 64|      0|  male|47.0|        15.0|     yes|            5|       17|         6|     4|
| 80|      0|female|22.0|         1.5|      no|            2|       17|         5|     4|
| 93|      0|female|37.0|        15.0|     yes|            1|       17|         5|     5|
|108|      0|female|37.0|        15.0|     yes|            2|       18|         4|     3|
|114|      0|female|22.0|        0.75|      no|            3|       16|         5|     4|
|115|      0|female|22.0|         1.5|      no|            2|       16|         5|     5|
|123|      0|female|22.0|         1.5|      no|            2|       16|         5|     5|
|127|      0|female|22.0|         1.5|      no|            2|       16|         5|     5|
|129|      0|female|27.0|        10.0|     yes|            4|       16|         5|     4|
|137|      0|  male|37.0|         4.0|     yes|            2|       20|         6|     4|
|139|      0|female|22.0|         1.5|      no|            2|       18|         5|     5|
|147|      0|female|27.0|         7.0|      no|            4|       16|         1|     5|
|151|      0|  male|42.0|        15.0|     yes|            5|       20|         6|     4|
|153|      0|  male|27.0|         4.0|     yes|            3|       16|         5|     5|
+---+-------+------+----+------------+--------+-------------+---------+----------+------+
only showing top 20 rows

In [15]:
df_pyspark.filter("education >= 15").select("age", "yearsmarried").show()

+----+------------+
| age|yearsmarried|
+----+------------+
|37.0|        10.0|
|57.0|        15.0|
|22.0|         1.0|
|null|         1.5|
|37.0|        15.0|
|27.0|         4.0|
|47.0|        15.0|
|22.0|         1.5|
|37.0|        15.0|
|37.0|        15.0|
|22.0|        0.75|
|22.0|         1.5|
|22.0|         1.5|
|22.0|         1.5|
|27.0|        10.0|
|37.0|         4.0|
|22.0|         1.5|
|27.0|         7.0|
|42.0|        15.0|
|27.0|         4.0|
+----+------------+
only showing top 20 rows

In [17]:
df_pyspark.filter(df_pyspark["education"] >= 15).show()

+---+-------+------+----+------------+--------+-------------+---------+----------+------+
| id|affairs|gender| age|yearsmarried|children|religiousness|education|occupation|rating|
+---+-------+------+----+------------+--------+-------------+---------+----------+------+
|  4|      0|  male|37.0|        10.0|      no|            3|       18|         7|     4|
| 16|      0|  null|57.0|        15.0|     yes|            5|       18|         6|     5|
| 20|   null|  null|22.0|         1.0|      no|            2|       17|         6|     3|
| 30|   null|  null|null|         1.5|      no|            2|       17|         5|     5|
| 50|      0|  male|37.0|        15.0|     yes|            2|       20|         7|     2|
| 55|      0|  male|27.0|         4.0|     yes|            4|       18|         6|     4|
| 64|      0|  male|47.0|        15.0|     yes|            5|       17|         6|     4|
| 80|      0|female|22.0|         1.5|      no|            2|       17|         5|     4|
| 93|      0|female|37.0|        15.0|     yes|            1|       17|         5|     5|
|108|      0|female|37.0|        15.0|     yes|            2|       18|         4|     3|
|114|      0|female|22.0|        0.75|      no|            3|       16|         5|     4|
|115|      0|female|22.0|         1.5|      no|            2|       16|         5|     5|
|123|      0|female|22.0|         1.5|      no|            2|       16|         5|     5|
|127|      0|female|22.0|         1.5|      no|            2|       16|         5|     5|
|129|      0|female|27.0|        10.0|     yes|            4|       16|         5|     4|
|137|      0|  male|37.0|         4.0|     yes|            2|       20|         6|     4|
|139|      0|female|22.0|         1.5|      no|            2|       18|         5|     5|
|147|      0|female|27.0|         7.0|      no|            4|       16|         1|     5|
|151|      0|  male|42.0|        15.0|     yes|            5|       20|         6|     4|
|153|      0|  male|27.0|         4.0|     yes|            3|       16|         5|     5|
+---+-------+------+----+------------+--------+-------------+---------+----------+------+
only showing top 20 rows

In [22]:
# Adding AND operator
df_pyspark.filter((df_pyspark["education"] >= 15) & (df_pyspark["age"] <= "27" )).show()

+---+-------+------+----+------------+--------+-------------+---------+----------+------+
| id|affairs|gender| age|yearsmarried|children|religiousness|education|occupation|rating|
+---+-------+------+----+------------+--------+-------------+---------+----------+------+
| 20|   null|  null|22.0|         1.0|      no|            2|       17|         6|     3|
| 55|      0|  male|27.0|         4.0|     yes|            4|       18|         6|     4|
| 80|      0|female|22.0|         1.5|      no|            2|       17|         5|     4|
|114|      0|female|22.0|        0.75|      no|            3|       16|         5|     4|
|115|      0|female|22.0|         1.5|      no|            2|       16|         5|     5|
|123|      0|female|22.0|         1.5|      no|            2|       16|         5|     5|
|127|      0|female|22.0|         1.5|      no|            2|       16|         5|     5|
|129|      0|female|27.0|        10.0|     yes|            4|       16|         5|     4|
|139|      0|female|22.0|         1.5|      no|            2|       18|         5|     5|
|147|      0|female|27.0|         7.0|      no|            4|       16|         1|     5|
|153|      0|  male|27.0|         4.0|     yes|            3|       16|         5|     5|
|155|      0|female|27.0|         4.0|     yes|            3|       17|         5|     4|
|163|      0|female|22.0|         1.5|      no|            3|       16|         5|     5|
|165|      0|  male|27.0|       0.417|      no|            4|       17|         6|     4|
|172|      0|female|22.0|         1.5|      no|            4|       16|         5|     3|
|187|      0|female|22.0|         4.0|      no|            4|       17|         5|     5|
|194|      0|female|22.0|        0.75|      no|            3|       16|         1|     5|
|224|      0|female|27.0|         4.0|     yes|            2|       18|         6|     1|
|228|      0|  male|22.0|         4.0|      no|            3|       16|         5|     5|
|239|      0|female|27.0|         7.0|     yes|            4|       18|         6|     5|
+---+-------+------+----+------------+--------+-------------+---------+----------+------+
only showing top 20 rows

In [23]:
# Adding OR operator
df_pyspark.filter((df_pyspark["education"] >= 15) | (df_pyspark["age"] <= "27")).show()

+---+-------+------+----+------------+--------+-------------+---------+----------+------+
| id|affairs|gender| age|yearsmarried|children|religiousness|education|occupation|rating|
+---+-------+------+----+------------+--------+-------------+---------+----------+------+
|  4|      0|  male|37.0|        10.0|      no|            3|       18|         7|     4|
| 10|   null|  male|27.0|         4.0|      no|            4|       14|         6|     4|
| 16|      0|  null|57.0|        15.0|     yes|            5|       18|         6|     5|
| 20|   null|  null|22.0|         1.0|      no|            2|       17|         6|     3|
| 30|   null|  null|null|         1.5|      no|            2|       17|         5|     5|
| 44|      0|female|22.0|        0.75|      no|            2|       12|         1|     3|
| 49|      0|  male|22.0|         1.5|      no|            4|       14|         4|     5|
| 50|      0|  male|37.0|        15.0|     yes|            2|       20|         7|     2|
| 55|      0|  male|27.0|         4.0|     yes|            4|       18|         6|     4|
| 64|      0|  male|47.0|        15.0|     yes|            5|       17|         6|     4|
| 80|      0|female|22.0|         1.5|      no|            2|       17|         5|     4|
| 86|      0|female|27.0|         4.0|      no|            4|       14|         5|     4|
| 93|      0|female|37.0|        15.0|     yes|            1|       17|         5|     5|
|108|      0|female|37.0|        15.0|     yes|            2|       18|         4|     3|
|114|      0|female|22.0|        0.75|      no|            3|       16|         5|     4|
|115|      0|female|22.0|         1.5|      no|            2|       16|         5|     5|
|116|      0|female|27.0|        10.0|     yes|            2|       14|         1|     5|
|123|      0|female|22.0|         1.5|      no|            2|       16|         5|     5|
|127|      0|female|22.0|         1.5|      no|            2|       16|         5|     5|
|129|      0|female|27.0|        10.0|     yes|            4|       16|         5|     4|
+---+-------+------+----+------------+--------+-------------+---------+----------+------+
only showing top 20 rows